<link rel="stylesheet" href="/css/signin.css">

<div id="signinpage">
    <div>
        <h2>Sign In</h2>
    </div>
    <form action="/employee/create-session" method="post">
        <div>
            <label for="Email">Enter Your Email:</label>
            <input type="email" name="email" id="Email" placeholder="Enter your email..." required>
        </div>
        <div>
            <label for="Password">Enter Your Password:</label>
            <input type="password" name="password" id="Password" placeholder="Enter password..." required>
        </div>
        <div>
            <input type="submit" value="Submit" class="links">
        </div>
    </form>
    <div>
        <h2>OR Sign Up</h2>
        <a href="/employee/sign-up">Click Here to sign up</a>
    </div>
</div>

