footer{

    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(40 37 37);
    padding-bottom: 2px;
}

footer p{
    margin: 0px;
}

footer p a{
    color: white;
}