#new-interview{
    width: 50vw;
    margin: auto;
    border-bottom: 2px solid black;
}
#flex-row-style{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

label{
    display: inline-block;
    width: 105px;
}

input{
    height: 35px;
    margin: 10px 0px;
}


.links{
    border: none;
    padding: 10px 20px;
    width: inherit;
    height: inherit;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    background-color: antiquewhite;
}

#interview-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.interview{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interview-add-student{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}