#new-interview{
    width: 50vw;
    margin: auto;
    border-bottom: 2px solid black;
}
#flex-col-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#flex-col-style div{
    width: 300px;
}

label{
    display: inline-block;
    width: 120px;
}

input{
    height: 35px;
    margin: 10px 0px;
}

#interview-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.interview{
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 152, 129);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.delete{
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: x-large;
    color: brown;
}

select{
    width: 169px;
    height: 35px;
    margin: 10px 0px;
}

.col{
    width: 293px;
    display: flex;
    justify-content: space-between;
}

.col-heading{
    background-color: rgb(255, 255, 255);
}

.col-value{
    border-bottom: 1px solid black ;
}
.colorMid{
    background-color: rgb(199, 221, 223);
}

.interview-add-student input, select{
    background-color: rgb(199, 221, 223);
    border: none;
    border-bottom: 2px solid black;
}

 .links{
    border: none !important;
    padding: 10px 20px;
    width: inherit;
    height: inherit;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    background-color: antiquewhite !important;
}